/* =======================================
    SECTION: PROJECTS

	Layout and styling for projects 
	section
========================================== */

/* Main container for the projects section */
.projects {
	width: 100%;
	padding-block: 48px;
}

/* Inner container for projects section */
.projects__inner {
	width: 100%;
	max-width: 75rem;
	margin-inline: auto;
}

/* Text block wrapper */
.projects__heading {
	display: grid;
	justify-items: center;
	gap: 8px;
	margin-bottom: 40px;
	text-align: center;
}

/* Main section title */
.projects__title {
	color: #1c1917;
	font-size: clamp(1.75rem, 1.571rem + 0.893vw, 2rem);
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.02rem;
}

/* Intro text below title */
.projects__intro {
	color: #57534d;
	font-size: clamp(1rem, 0.911rem + 0.446vw, 1.125rem);
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.015rem;
}

/* Grid layout for project cards */
.projects__collection {
	display: grid;
	grid-template-columns: 1fr;
	gap: 32px;
}

/*  Responsive adjustments for tablet */
@media screen and (min-width: 48rem) {
	.projects {
		padding-block: 56px;
	}

	.projects__heading {
		margin-bottom: 48px;
	}

	.projects__title {
		font-size: 2rem;
		letter-spacing: 0.03rem;
	}

	.projects__intro {
		font-size: 1.125rem;
		line-height: 1.6;
		letter-spacing: 0.02rem;
	}

	/* 2-column grid for project cards */
	.projects__collection {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* @media screen and (min-width: 75rem) {
} */
