/* =======================================
    RESET

    Basic reset styles to ensure 
    consistency across browsers
========================================== */

/* Box sizing reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default spacing */
h1,
h2,
h3,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

/* Remove default list bullets */
ul {
	list-style-type: none;
}

/* Make images responsive by default */
img {
	display: block;
	width: 100%;
	height: auto;
}
